body,
html {
  padding: 0;
  margin: 0;
}

main {
  display: flex;
}

#login-background {
  background-image: url("GjrkLhP.jpg");
  width: 100%;
  height: 100vh;
}

#signin-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: color-mix(in srgb, black, transparent 40%);
  width: 40%;
  height: 100%;
  position: fixed;
  right: 0;
  color: white;
  overflow: scroll;
}

#signin-page form {
  width: 100%;
}

#signin-page-content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  width: 80%;
  height: auto;
}

#signin-page h1 {
  font-size: 4rem;
  font-weight: 600;
  margin: 1.3rem 0;
}

#signin-page p:nth-of-type(1) {
  font-size: 1rem;
  letter-spacing: 1px;
  word-spacing: 1px;
}

#signin-page p:nth-of-type(2) {
  font-size: 1rem;
  letter-spacing: 1px;
  word-spacing: 1px;
}

#signin-page p:nth-of-type(2) a {
  cursor: pointer;
  color: color-mix(in srgb, magenta, transparent 40%);
}

#input-container {
  margin-bottom: 1rem;
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: color-mix(in srgb, white, transparent 90%);
  padding: 0.1rem 0.7rem;
  border-radius: 5px;
  box-sizing: border-box;
}

.fa-envelope {
  font-size: 1.5rem;
  margin-right: 4px;
}

#input-container input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  height: 7vh;
  font-size: 1rem;
  width: 100%;
}

#signin-page button {
  width: 100%;
  height: 5.5vh;
  border-radius: 10px;
  background-color: color-mix(in srgb, white, transparent 10%);
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

#signin-page button:hover {
  background-color: color-mix(in srgb, white, transparent 40%);
}

#span {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#span span {
  margin: 1rem 0;
  width: 98%;
  height: 0.1vh;
  background-color: color-mix(in srgb, white, transparent 60%);
}

@media (max-width: 900px) {
  #signin-page {
    width: 100%;
  }
}
